html {
    background-color: #aad4cf;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.clearfix::after {
    clear:both;
}

.wrapper {
    width: 1024px;
    margin: auto;
    background-color: #d4e9e7;
}

header h1 {
    /*fix image and move text over top*/
    color: #fff;
}

nav ul {
    text-align: center;
}

nav ul li{
    list-style-type: none;
    margin: auto;
    display: inline;
}

/*selects all content elements*/
.main, .facts, .contact {
    margin-left: 10px;
}

h2 {
    font-size: 1.62rem;
}

.article-img {
    width: 250px;
    height: 257px;
    margin-right: 19px;
    float: left;
}

.form {
    border: black;
    border-width: 1px;
    border-style: solid;
}

/*ul :nth-child(1) {
    float: left;
    margin: auto;
}

ul :nth-child(2) {
    float: center;
    margin: auto;
}*/