html {
    background-color: #aad4cf;
}

.clearfix::after {
    clear:both;
}

.wrapper {
    width: 1024px;
    margin: auto;
    background-color: #d4e9e7;
}

header h1 {
    /*fix image and move text over top*/
    color: #fff;
}

ul {
    text-align: center;
}

nav ul li{
    list-style-type: none;
    margin: auto;
    display: inline;
}

/*ul :nth-child(1) {
    float: left;
    margin: auto;
}

ul :nth-child(2) {
    float: center;
    margin: auto;
}*/