/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*end of reset*/

body {
    font-family: 'Open Sans', sans-serif;
}

.wrapper{
	margin: 0 auto;
}

.wrapper nav {
    background-color: #222;
}

nav ul li {
	margin: 3.5% 0 3.5% 0;
}

nav input {
	width: 90%;
}

/*need to solve to get background color around logo*/
div > img {
    background-color: #c78c06;
}

nav > ul, form {
    text-align: center;
    list-style-type: none;
}

nav > ul li a:visited, a:link {
    color:#c78c06;
    text-decoration: none;
}

nav > ul li a:hover, a:active {
    color:#222;
    text-decoration: none;
}

/*finish styling nav, needs elements to be full width*/
.welcome {
	background-image: url("../img/images/main-banner.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.welcome .wrapper {
	/*used rgba version of colour to allow for opacity on background*/
	background-color: rgba( 34, 34, 34, 0.5);
	/*need to center main wrapper block*/
	display: inline-block;
	margin-top: 4.5%;
	margin-bottom: 4.5%;
	/*padding used to increase container size to prevent button overflow*/
	padding: 2%;
}

h1, .welcome p { 
	color: white;
}

h1 {
	font-size: 3rem;
	font-weight: bold;
}

.welcome p {
	font-size: .75rem;
}

.welcome a {
	color: #222;
	background-color: #c78c06;
	padding: 4.5%;
	text-align: center;
	display: inline-block;
	width: 30%;
}

.about-us {
	background-color: #ffe6ac;
	padding: 2%;
}

h2 {
	font-size: 2rem;
	font-weight: bold;
}

.about-us img {
	display: inline-block;
	width: 100%;
	margin-bottom: 2%;
}

.about-us p {
	font-size: .75rem;
	margin-top: 2%;
}

/*targets each seperate services div*/
div.services div.wrapper div {
	margin: 2%;
	background-color: #ffe6ac;
}

.services h2 {
	padding-top: 4.5%;
	padding-bottom: 2%
}

.services img {
	display: inline-block;
	width: 100%;
	margin-bottom: 2%;
}

.services h3, p, a {
	padding: 2%;
}

.services h3 {
	font-size: 1.75rem;
	font-weight: bold;
}

.services p {
	font-size: .75rem;
}

div.services div.wrapper a {
	color: white;
	background-color: #222;
	padding: 4.5%;
	text-align: center;
	display: inline-block;
	margin-left: 2%;
	margin-bottom: 2%;
}

.vision {
	background-image: url(../img/images/vision.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.vision .wrapper {
	padding: 2%;
}

.vision h3, .vision p, .vision a {
	color: white;
	padding: 2%;
}

.vision h3 {
	font-size: 1.75rem;
	font-weight: bold;
}

.vision p {
	font-size: .75rem;
}

.vision div.wrapper a {
	color: white;
	background-color: rgba( 34, 34, 34, 0.75);
	padding: 4.5%;
	text-align: center;
	display: inline-block;
	margin-left: 2%;
	margin-bottom: 2%;
	border: 1px;
	border-style: solid;
	border-color: #c78c06;
}

.team h2 {
	font-weight: bold;
	margin-top: 4.5%;
	margin-bottom: 2%;
}

.team .wrapper {
	padding: 2%;
}

.team .wrapper div {
	background-color: #ffe6ac;
}

.team img {
	display: inline-block;
	width: 100%;
}

.team h3 {
	font-weight: bold;
	font-size: 1.75rem;
	padding-left: 2%;
}

.team h4 {
	font-weight: bold;
	padding-top: 1%;
	padding-left: 2%;
}

/*created seperate div with line class for adding lines*/
.line {
	border-bottom: #c78c06;
	border-style: solid;
	margin: 2%;
}

.contact-us div.wrapper h3 {
	font-size: 1.5rem;
	font-weight: bold;
	margin-top: 4%;
	margin-bottom: 2%;
}

.contact-us .wrapper {
	margin: 4.5%;
}

.contact-us form {
	display: flex;
	text-align: left;
	flex-direction: column;
	justify-content: space-between;
	font-size: .75rem;
}

.contact-us form label {
	margin-top: 2%;
	margin-bottom: 2%;
}

.contact-us form button {
	display: inline-block;
	margin-top: 2%;
	/*min-content to shrink to smallest size*/
	width: min-content;
	color: #c78c06;
	background-color: #222;
}

.hours .wrapper {
	padding: 2%;
}

.hours h3 {
	font-size: 1.75rem;
	font-weight: bold;
}

table, th, td {
	border: 1px solid #222;
}